body {
    background-color: #f5f5f5;
}

.container {
    width: 1165px !important;
    position: relative;
}

.btn, .btn-large, .btn-flat{
    border-radius: 8px;
}

section#news {
    padding-top: 18px;
    margin-top: 0 !important;
}

section#news .row {
    margin-bottom: 18px;
}

section#news .col {
    border-left: 5px solid #e5e5e5;
    padding: 0 18px 10px;
}

section#news .col .date {
    color: #888888;
    font-weight: 500;
    font-size: 11px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#bg-image-wrapper {
    height: 548px;
    width: 100%;
    z-index: -999;
    position: absolute;
    overflow: hidden;
}

#bg-image-wrapper img {
    width: 100%;
    float: left;
    z-index: -888;
}

#bg-image-wrapper #bg-image-overhead {
    width: 54%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    z-index: 1;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 92.5% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 92.5% 100%, 0 100%);
}

section.container > .row {
    margin: 0;
}

#main-menu, #main-menu ul, #main-menu ul li, #main-menu ul li i {
    height: 40px;
}

#main-menu ul {
    margin: 0 auto;
    display: table;
}

#main-menu li {
    line-height: 42px;
}

#main-menu li i {
    font-size: 30px;
    line-height: 37px;
}

#section-login {
    z-index: 999;
}

#section-login .container > .row {
    margin: 0 -.75rem 50px;
    padding-top: 50px;
}

#section-login #identification {
    float: left;
    width: 475px;
}

#section-login #phrase {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 30px;
    font-style: italic;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 22px;
}

#section-login #phrase span {
    display: block;
    color: rgba(255, 255, 255, 0.3);
    font-size: 150px;
    line-height: 0;
    margin-left: -16px;
}

#section-login #phrase p {
    margin-bottom: 0;
}

#section-login #phrase-author {
    font-size: 14px;
}

#section-login #login-container {
    float: right;
}

#section-login #before-login {
    float: left;
    display: none;
    height: 334px;
    border-bottom: 334px solid rgba(255, 255, 255, 0.9);
    border-left: 50px solid transparent;
}

#section-login #login {
    background-color: rgba(255, 255, 255, 0.85);
    height: 334px;
    width: 575px;
    float: right;
    padding-top: 9px;
    border-radius: 16px;
}

#section-login #login .input-field {
    margin-top: 10px;
}

#section-login #login form {
    width: 325px;
    margin: 0 auto;
}

#section-login #login form button#enviar {
    width: 100%;
}

#section-login #login .grecaptcha-badge {
    z-index: 999;
}

#section-login #login .error {
    color: #ff6600;
    font-size: 12px
}

#section-links {
    background-color: #000000;
    padding-top: 40px;
    padding-bottom: 55px;
}

#section-links .container {
    margin-top: 0 !important;
}

#section-links a {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #0c71b8;
}

#section-links #institution a {
    background-color: #b41415;
}

#section-links a.fixed-button {
    width: 170px;
}

#section-links .link-description {
    margin-top: 22px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
    padding: 0 10px;
}

#section-mobile-app {
    background-color: #fff;
    margin-top: -30px !important;
    border: 1px solid #e3e4e8;
    border-radius: 16px;
    position: relative;
}

#section-mobile-app .mobile-app {
    padding: 50px 21px 112px;
}

#section-mobile-app .app-logo {
    margin-bottom: 18px;
}

#section-mobile-app .app-description {
    color: #9a9a9a;
    font-size: 13px;
    line-height: 20px;
}

#section-mobile-app .google-play {
    position: absolute;
    bottom: 35px;
    width: calc(25% - 42px);
}

#section-bonus {
    padding-top: 20px;
    margin-top: 0 !important;
}

#section-bonus .title {
    color: rgb(226, 25, 26);
    margin-bottom: 18px;
}

#section-bonus .content {
    height: 270px;
}

#section-bonus #carousel .slick-list {
    margin: 0 -30px;
}

#section-bonus #carousel .item {
    width: 100%;
    margin: 0 30px;
    background-color: transparent;
}

#section-bonus #carousel .item img {
    width: 100%;
}

#section-bonus #carousel .dots {
    margin-top: 31px;
    margin-bottom: 27px;
}

#section-bonus #carousel .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

#section-bonus #carousel .dots li:last-child {
    margin-right: 0;
}

#section-bonus #carousel .dots li.slick-active {
    background-color: rgb(226, 25, 26);
}

#section-bonus #carousel .dots li button {
    display: none;
}

#section-bonus #carousel .dots li:hover {
    cursor: pointer;
}

#section-bonus .slick-arrow {
    margin-top: 95px;
}

#section-bonus .slick-arrow i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 46px;
    cursor: pointer;
}

footer {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding-top: 36px;
}

footer #section-sponsors {
    width: 1165px !important;
    margin-top: 0 !important;
}

footer #section-sponsors .row {
    margin-bottom: 0;
}

footer #section-sponsors .col {
    margin-bottom: 27px;
}

footer #copyright {
    color: rgb(226, 25, 26);
    margin-top: 43px;
    padding-bottom: 20px;
}

/*Responsive*/
@media only screen and (max-width: 1235px) {
    section.container, section .container, footer #section-sponsors {
        width: 100% !important;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1185px) {
    #section-login #identification {
        width: 460px;
    }
    #section-login #login{
        width: 460px;
    }
}

@media only screen and (max-width: 1024px) {
    #section-login #phrase {
        display: none;
    }
    #bg-image-wrapper {
        height: 628px;
    }

    #bg-image-wrapper #bg-image-overhead {
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    #section-login #identification {
        float: none;
        width: 100%;
    }

    #section-login #identification #logo {
        text-align: center;
        margin-bottom: 18px;
    }

    #section-login #login-container {
        width: 500px;
        margin: 0 auto;
        float: none;
        background: rgba(255, 255, 255, 0.9);
    }

    #section-login #login {
        width: 100%;
        padding-left: 0;
    }

    #section-login #before-login {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #section-mobile-app .mobile-app {
        padding-bottom: 0;
    }

    #section-mobile-app .app-description {
        margin-bottom: 20px;
    }

    #section-mobile-app .google-play {
        position: relative;
        width: 100%;
        bottom: 0;
    }

    #section-mobile-app #billetera-movil {
        margin-bottom: 43px;
    }

    #section-links #register {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 942px) {
    #bg-image-wrapper img {
        height: 628px;
        width: auto;
    }
}

@media only screen and (max-width: 790px) {
    #section-bonus .slick-arrow i {
        margin-left: -9px;
    }
}

@media only screen and (max-width: 600px) {
    #section-links .col {
        margin-bottom: 40px !important;
    }

    #section-links #access_recovery {
        margin-bottom: 0 !important;
    }

    footer #section-sponsors img.show-on-small {
        display: inline !important;
    }
}

@media only screen and (max-width: 580px) {
    nav#main-menu {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav#main-menu, nav#main-menu li {
        height: 50px;
    }

    nav#main-menu li {
        line-height: 20px;
        padding-top: 5px;
    }

    #section-login #login-container {
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    #section-login #logo {
        padding: 0 20px;
    }

    #section-login #logo img {
        width: 100%
    }
}

@media only screen and (max-width: 440px) {

    #section-login #login, div.container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #section-login #login form {
        width: 100%;
    }

    footer #section-sponsors img.show-on-small {
        width: 100%;
    }
}

@media only screen and (max-width: 366px) {
    nav#main-menu, nav#main-menu li {
        height: 70px;
    }

    nav#main-menu li i {
        line-height: 55px;
        height: 55px;
    }
}